
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>E-mail</th>
      <th>Country</th>
    </tr>
  </thead>
  <tbody>
    <% dados.forEach(dado => { %>
      <tr>
        <td><%= dado.id %></td>
        <td><%= dado.firstname %></td>
        <td><%= dado.email %></td>
        <td><%= dado.country %></td>
      </tr>
    <% }) %>
    
  </tbody>
  <tfoot>
  <tr>
    <th colspan="4">Table Footer</th>
  </tr>
  </tfoot>
</table>

