<!DOCTYPE html>
<html lang="pt-BR">
<head>
    
    <title>pdf</title>
    <style>
    body {
      font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
      }
    </style>
</head>

<body>
  
  <table>
    <thead>
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>E-mail</th>
      <th>País</th>
    </tr>
    </thead>
    <tbody>
          <tr>
            <td><%= dados[1].id %></td>
            <td><%= dados[1].firstname %></td>
            <td><%= dados[1].email %></td>
            <td><%= dados[1].country %></td>
          </tr>
    </tbody>
    <tfoot>
    <tr>
      <td>&nbsp;</td>
      <td>Personal</td>
      <td>Office</td>
    </tr>
    </tfoot>
    </table>
</body>
</html>
